
:root {
  --ifm-color-primary: #6f0b46;
  --ifm-color-primary-dark: #640a3f;
  --ifm-color-primary-darker: #5e093b;
  --ifm-color-primary-darkest: #4e0831;
  --ifm-color-primary-light: #7a0c4d;
  --ifm-color-primary-lighter: #800d50;
  --ifm-color-primary-lightest: #900e5b;
}

[data-theme='dark'] {
  --ifm-color-primary: #f9ab3e;
  --ifm-color-primary-dark: #f89e20;
  --ifm-color-primary-darker: #f89711;
  --ifm-color-primary-darkest: #d37e07;
  --ifm-color-primary-light: #fab85c;
  --ifm-color-primary-lighter: #fabf6b;
  --ifm-color-primary-lightest: #fcd298;
}
